{{template "header.html" .}}

        <!-- Leading title -->
        <div class="medium-width px-3 py-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Compose new post</h1>
        </div>

        <!-- Core body -->
        <div class="container medium-width">
            <form action="/postpreview" method="POST">
                <div class="form-group">
                    <label for="caption">Caption</label>
                    <input type="text" class="form-control" id="caption" placeholder="Caption" name="caption" value="{{.Fields.caption}}">
                    <small id="captionError" class="form-text text-muted">{{.Errors.captionError}}</small>
                </div>

                <div class="form-group">
                    <label for="messageBody">Message</label>
                    <textarea class="form-control" id="messageBody" placeholder="Message" name="messageBody">{{.Fields.messageBody}}</textarea>
                    <small id="messageBodyError" class="form-text text-muted">{{.Errors.messageBodyError}}</small>
                </div>

                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>

{{template "footer.html" .}}
