{{template "header.html" .}}

        <!-- Metainfo -->
        <div class="container medium-width">
            <p>Created by: {{.CreatedBy}}</p>
            <p>Modified by: {{.ModifiedBy}}</p>
            <p>Time Created: {{.TimeCreated}}</p>
            <p>Time Modified: {{.TimeModified}}</p>
        </div>

        <!-- Body -->
        <div class="container medium-width">
            <p>Caption {{.Caption}}</p>
            <p>Message: {{.MessageBody}}</p>
            <p>URL: {{.URL}}</p>
            <p>Image URI: {{.ImageURI}}</p>
            <p>Thumbnail URL: {{.ThumbnailURL}}</p>
            <p>Keywords: {{.Keywords}}</p>
            <p>Likers: {{.Likers}}</p>
        </div>

{{template "footer.html" .}}
