{{template "header.html" .}}

        <!-- Navigation bar -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="underline my-0 mr-md-auto font-weight-normal">medium</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Home</a>
                <a class="p-2 text-dark" href="#">Feed</a>
                <a class="p-2 text-dark" href="#">Profile</a>
                <a class="p-2 text-dark" href="#">Friends</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Logout</a>
        </div>

        <!-- Header -->
        <div class="medium-width px-3 py-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Compose new post</h1>
        </div>

        <!-- Core body -->
        <div class="container medium-width">
            <form action="/postpreview" method="POST">
                <div class="form-group">
                    <label for="caption">Caption</label>
                    <input type="text" class="form-control" id="caption" placeholder="Caption" name="caption" value="{{.Fields.caption}}">
                    <small id="captionError" class="form-text text-muted">{{.Errors.captionError}}</small>
                </div>

                <div class="form-group">
                    <label for="messageBody">Message</label>
                    <textarea class="form-control" id="messageBody" placeholder="Message" name="messageBody">{{.Fields.messageBody}}</textarea>
                    <small id="messageBodyError" class="form-text text-muted">{{.Errors.messageBodyError}}</small>
                </div>

                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>

{{template "footer.html" .}}
