{{template "header.html" .}}

        <!-- Navigation bar -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="underline my-0 mr-md-auto font-weight-normal">medium</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Home</a>
                <a class="p-2 text-dark" href="#">Feed</a>
                <a class="p-2 text-dark" href="#">Profile</a>
                <a class="p-2 text-dark" href="#">Friends</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Logout</a>
        </div>

        <!-- Header -->
        <div class="medium-width px-3 py-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Create your account</h1>
        </div>

        <!-- Core body -->
        <div class="container medium-width">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{.Fields.username}}">
                    <small id="usernameError" class="form-text text-muted">{{.Errors.usernameError}}</small>
                </div>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" value="{{.Fields.firstName}}">
                    <small id="firstNameError" class="form-text text-muted">{{.Errors.firstNameError}}</small>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" value="{{.Fields.lastName}}">
                    <small id="lastNameError" class="form-text text-muted">{{.Errors.lastNameError}}</small>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email" name="email" value="{{.Fields.email}}">
                    <small id="emailError" class="form-text text-muted">{{.Errors.emailError}}</small>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" value="{{.Fields.password}}">
                    <small id="passwordError" class="form-text text-muted">{{.Errors.passwordError}}</small>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" value="{{.Fields.confirmPassword}}">
                    <small id="confirmPasswordError" class="form-text text-muted">{{.Errors.confirmPasswordError}}</small>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>

{{template "footer.html" .}}
