{{template "header.html" .}}

        <!-- Navigation bar -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="underline my-0 mr-md-auto font-weight-normal">medium</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Home</a>
                <a class="p-2 text-dark" href="#">Feed</a>
                <a class="p-2 text-dark" href="#">Profile</a>
                <a class="p-2 text-dark" href="#">Friends</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Logout</a>
        </div>

        <!-- Header -->
        <div class="medium-width px-3 py-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Upload image</h1>
        </div>

        <!-- Core body -->
        <div class="container medium-width">
            <form action="/upload/image" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="imageFile">Image File</label>
                    <input type="file" class="form-control-file" id="imageFile" name="imageFile">
                    <small id="imageFileError" class="form-text text-muted">{{.Errors.imageFileError}}</small>
                </div>

                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

{{template "footer.html" .}}
