{{template "header.html" .}}

        <!-- Header -->
        <div class="medium-width px-3 py-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Upload image</h1>
        </div>

        <!-- Core body -->
        <div class="container medium-width">
            <form action="/upload/image" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="imageFile">Image File</label>
                    <input type="file" class="form-control-file" id="imageFile" name="imageFile">
                    <small id="imageFileError" class="form-text text-muted">{{.Errors.imageFileError}}</small>
                </div>

                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

{{template "footer.html" .}}
